/*hearder*/
#barra {
    background-color: #75787b;
}

#barra1 {
    display: inline-flex;
    margin-left: 150px;
    color: white;
}

#wsp {
    display: inline-block;
    margin-left: 700px;
    padding-top: 25px;
    color: white;
}

#imagenwsp {
    height: 50px;
    width: 50px;
    display: flex;
}
/*producto*/
.producto {
    display: inline-flex;
    
}

/*SECTION SOMOS*/

#somos {
    background: rgb(118, 120, 122);
    padding-top: 60px;
    padding-bottom: 60px;
}

#somos h2 {
    margin-left: 160px;
    margin-top: 60px;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    right: 165px;
    font-size: 40px;
}

#somos p {
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

#somos img {
    width: 100%;
}