/*headear*/
#barra {
    background-color: #75787b;
    padding-top: 10px;
    padding-bottom: 10px;
}

#barra p,
#barra a {

    color: white;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 0;
}

#contacto {
    margin-top: 25px;
    background-color: white;
}

#contacto h4 {
    color: #33373b;
    font-size: 30px;
    padding-right: 30px;
    display: inline-block;
}

#contacto button {
    background-color: #ffb536;
    border-radius: 50px;
    width: 160px;
    height: 40px;
    border: #ffb536;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

/*menu*/
#menu {
    margin-top: 25px;
    border-top: 1px solid rgba(51, 51, 51, 0.12);
}

nav ul {
    margin-bottom: 0;
}

nav li {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav li a {
    margin: 0px 25px;
    text-decoration: none;
    color: #333;
    font-size: 15px;
    padding: 20px 15px;
}

/*fin menu*/

/*fin de headear*/

/*SECTION SOMOS*/

#section1 {
    background: rgb(118, 120, 122);
}

#section1 h2 {
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 70px;
    padding-top: 60px;
    text-align: left;
    font-weight: bold;
}

#section1 p {
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding-bottom: 30px;
    padding-top: 25px;
}

#section1 img {
    width: 100%;
    height: 100%;
}

/*final de section somos*/

/*iconos*/
#iconos {
    padding-top: 50px;
    padding-bottom: 50px;
}

#iconos img {
    width: 70px;
}

#iconos h3 {
    font-size: 15px;
}

/*final de iconos*/

/*logot*/
#logot {
    padding: 25px 0px;
    background-color: rgb(245, 245, 245);
}

#logot h2 {
    padding-top: 50px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #4d4d4d;
}

#logot img {
    width: 800px;
    margin-left: 245px;
    padding-bottom: 25px;
    padding-top: 50px;

}

#logot h4 {
    color: #4d4d4d;
    font-size: 35px;
}

#logot p {
    color: #4d4d4d;
    font-size: 15px;
    font-weight: bold;
}

/*final de logot*/

/*section2*/

#section2 {
    background-color: #4d4d4d;
    height: 400px;
    padding-top: 60px;
}

#section2 h2,
h1,
a {
    text-align: center;
    padding: 15px 0px;
}

#section2 h2 {

    color: #ffb536;
    font-size: 42px;
}

#section2 h1 {
    color: white;
    font-size: 60px;
}

#section2 a {
    background-color: #ffb536;
    color: white;
    height: 65px;
    width: 430px;
    margin-left: 450px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: auto;
}

/*final de section2*/



/*section3*/

#section3 h2 {
    color: #4d4d4d;
    margin-top: 90px;
    margin-bottom: 115px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

#section3 img {
    padding: 0px 80px;
    width: 310px;
}

#section3 p {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 25px;
    color: rgb(77, 77, 77);
    font-weight: bold;
}

#section3 li {
    width: 300px;
    margin-bottom: 120px;
}

/*final de section3*/

/*section4*/

#section4 {
    background-color: rgba(170, 170, 170, 0.1);
}

#section4 h2 {
    color: #4d4d4d;
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

#section4 img {
    width: 100%;
}

#section4 p {
    margin-top: 33%;
    text-align: left;
    font-weight: bold;
    color: #4d4d4d;
    font-size: 18px;
}


/*final de section4*/

/*section5*/

#section5 {
    margin-top: 30px;
    margin-bottom: 50px;
}

#section5 h2 {
    text-align: center;
    padding: 50px 0px;
}




#section5 .mapouter {
    position: relative;
    text-align: right;
    width: 100%;
    height: 400px;
}

#section5 .gmap_iframe {
    width: 100% !important;
    height: 400px !important;
}

/*final de section5*/

/*section6*/

#section6 {
    padding: 15px 0px;
    background-color: #4d4d4d;

}

#section6 p {
    
    color: white;
    font-size: 12px;
    text-align: center;
    display: inline-block;
}

#section6 img {
    margin: 0px 5px;
    height: 100%;
}

#section6 a {
    font-size: 12px;
    margin: 0;
    color: white;
    padding: 0px 26px;


    

}

/*final de section6*/