/*headear*/
#barra {
    background-color: #75787b;

}

#barra p {
    margin-top: 15px;
    margin-left: 100px;
    padding-left: 40px;
    color: white;
    font-size: 17px;
    display: inline-flex;
}

#barra a {
    margin-left: 480px;
}

#contacto {
    margin-top: 25px;
    display: inline-flex;
}

#contacto a {
    margin-left: 120px;
    padding: 0px 800px 0px 0px;

}

#contacto h4 {
    margin-top: 15px;
    padding-left: 150px;
    text-align: center;
    color: #33373b;
    font-size: 30px;

}

#contacto button {
    margin-left: 50px;
    margin-top: 10px;
    background-color: #ffb536;
    border-radius: 50px;
    width: 180px;
    height: 55px;
    border: #ffb536;
    color: white;
    font-size: 20px;
}

#menu1 nav {
    background-color: #f2f2f2;
}
.menu2 li {
    display: inline-block;
    margin-right: 10px;
}
.menu2 li a {
    display: block;

    text-decoration: none;
    color: #333;
    margin-left: 80px;
    font-size: 20px;
}
/*SECTION SOMOS*/

#somos {
    background: rgb(118, 120, 122);
    padding-top: 60px;
    padding-bottom: 60px;
}

#somos h2 {
    margin-left: 160px;
    margin-top: 60px;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    right: 165px;
    font-size: 40px;
}

#somos p {
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

#somos img {
    width: 100%;
}

#iconos {
    background-color: red;
}

#iconos img {
    width: 20%;
}

h2 {
    text-align: center;
}

#logot img {
    padding-left: 20%;


}

#logot p {
    font-weight: 400;

}